@model FolderNotesViewModel

@{
    var title = ViewData["Title"];

    var notebookId = (Guid)ViewData["NotebookId"]!;
    var parentFolderId = (Guid?)ViewData["ParentFolderId"];
    var folderId = (Guid?)ViewData["FolderId"];

    var newFolderId = (Guid?)ViewData["NewFolderId"]!;
    var newParentFolderId = (Guid?)ViewData["NewParentFolderId"]!;
}

<div class="text-center mb-4 mt-2">
    <h2>@title</h2>
</div>

<hr class="border-bottom" />

<div class="container col-8 d-flex justify-content-start flex-wrap mt-4">
    <!-- Render Folders -->
    @foreach (var folder in Model.Folders)
    {
        <div class="folder-item text-center mx-3 my-3">
            <a asp-controller="Folder" asp-action="Index" asp-route-notebookId="@folder.NotebookId" asp-route-parentFolderId="@folder.ParentFolderId" asp-route-folderId="@folder.Id">
                <img src="/images/folder.png" alt="Folder" />
            </a>
            <div class="mt-2 mb-4 font-weight-bold">@folder.Title</div>
            <div class="d-flex flex-column align-items-center">
                <a asp-controller="Folder" asp-action="AddSubfolder" asp-route-notebookId="@folder.NotebookId" asp-route-parentFolderId="@folder.ParentFolderId" asp-route-folderId="@folder.Id" class="btn btn-outline-primary mb-2">Add Subfolder</a>
                <a asp-controller="Folder" asp-action="Details" asp-route-notebookId="@folder.NotebookId" asp-route-parentFolderId="@folder.ParentFolderId" asp-route-folderId="@folder.Id" class="btn btn-outline-info mb-2">Details</a>
                <a asp-controller="Folder" asp-action="Edit" asp-route-notebookId="@folder.NotebookId" asp-route-parentFolderId="@folder.ParentFolderId" asp-route-folderId="@folder.Id" class="btn btn-outline-warning mb-2">Edit</a>
                <a asp-controller="Folder" asp-action="Remove" asp-route-notebookId="@folder.NotebookId" asp-route-parentFolderId="@folder.ParentFolderId" asp-route-folderId="@folder.Id" class="btn btn-outline-danger">Remove</a>
            </div>
        </div>
    }

    <!-- Render Notes -->
    @foreach (var note in Model.Notes)
    {
        <div class="note-item text-center mx-3 my-3">
            <a asp-controller="Note" asp-action="Edit" asp-route-notebookId="@note.NotebookId" asp-route-parentFolderId="@parentFolderId" asp-route-folderId="@note.FolderId" asp-route-noteId="@note.Id">
                <img src="/images/note.png" alt="Note" />
            </a>
            <div class="mt-2 mb-4 font-weight-bold">@note.Title</div>
            <div class="d-flex flex-column align-items-center">
                <a asp-controller="Note" asp-action="Remove" asp-route-notebookId="@note.NotebookId" asp-route-parentFolderId="@parentFolderId" asp-route-folderId="@note.FolderId" asp-route-noteId="@note.Id" class="btn btn-outline-danger">Remove</a>
            </div>
        </div>
    }
</div>

<div class="d-flex justify-content-center">
    @if (folderId != Guid.Empty && folderId != null &&
    parentFolderId != Guid.Empty && parentFolderId != null)
    {
        <a asp-controller="Folder" asp-action="AddFolder" asp-route-notebookId="@notebookId" asp-route-parentFolderId="@parentFolderId" asp-route-folderId="@folderId" class="btn btn-primary">Add New Folder</a>
        <a asp-controller="Note" asp-action="Create" asp-route-notebookId="@notebookId" asp-route-parentFolderId="@parentFolderId" asp-route-folderId="@folderId" class="btn btn-outline-primary ms-2">Add Note</a>
    }
    @* else if (parentFolderId != Guid.Empty && parentFolderId != null)
    {
        //TODO: change parentFolderId to folderId?
        <a asp-controller="Folder" asp-action="AddFolder" asp-route-notebookId="@notebookId" asp-route-parentFolderId="@parentFolderId" class="btn btn-primary">Add New Folder</a>
        <a asp-controller="Note" asp-action="Create" asp-route-notebookId="@notebookId" asp-route-parentFolderId="@parentFolderId" class="btn btn-outline-primary ms-2">Add Note</a>
    } *@
    else
    {
        <a asp-controller="Folder" asp-action="AddFolder" asp-route-notebookId="@notebookId" asp-route-folderId="@folderId" class="btn btn-primary">Add New Folder</a>
        <a asp-controller="Note" asp-action="Create" asp-route-notebookId="@notebookId" asp-route-folderId="@folderId" class="btn btn-outline-primary ms-2">Add Note</a>
    }
</div>
<div class="d-flex justify-content-center m-2">
    @if (newParentFolderId != Guid.Empty && newParentFolderId != null &&
    parentFolderId != Guid.Empty && parentFolderId != null)
    {
        <a asp-controller="Folder" asp-action="Index" asp-route-notebookId="@notebookId" asp-route-parentFolderId="@newParentFolderId" asp-route-folderId="@parentFolderId" class="btn btn-secondary mb-2">Previous Page</a>
    }
    else if (newFolderId != Guid.Empty && newFolderId != null)
    {
        <a asp-controller="Folder" asp-action="Index" asp-route-notebookId="@notebookId" asp-route-folderId="@newFolderId" class="btn btn-secondary mb-2">Previous Page</a>
    }
    else if (folderId != Guid.Empty && folderId != null)
    {
        <a asp-controller="Folder" asp-action="Index" asp-route-notebookId="@notebookId" class="btn btn-secondary mb-2">Previous Page</a>
    }
    else if (notebookId != Guid.Empty && notebookId != null)
    {
        <a asp-controller="Notebook" asp-action="Index" class="btn btn-secondary mb-2">Previous Page</a>
    }
</div>