@using LunarApp.Web.ViewModels.Tag
@model TagCreateViewModel

@{
    ViewData["Title"] = "Create Tag";

    var notebookId = (Guid?)ViewData["NotebookId"]!;
    var parentFolderId = (Guid?)ViewData["ParentFolderId"]!;
    var folderId = (Guid?)ViewData["FolderId"]!;
    var noteId = (Guid?)ViewData["NoteId"]!;
}
<div class="text-center mb-4 mt-2">
    <h2>@ViewData["Title"]</h2>
</div>

<hr />

<div class="row d-flex justify-content-center align-items-center flex-column card-center">
    <div class="col-md-6">
        <div class="transparent-container card">
            <form asp-controller="Tag" asp-action="Create" asp-action="Edit" asp-action="Edit" asp-route-notebookId="@notebookId" asp-route-parentFolderId="@parentFolderId" asp-route-folderId="@folderId" asp-route-noteId="@noteId" method="post" class="text-center">
                @Html.AntiForgeryToken()
                <div class="card-body">
                    <input type="hidden" asp-for="NotebookId" />
                    <input type="hidden" asp-for="ParentFolderId" />
                    <input type="hidden" asp-for="FolderId" />
                    <input type="hidden" asp-for="NoteId" />

                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control bg-transparent" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="card-footer d-flex align-content-center justify-content-center gap-2 pt-3 pb-3">
                    <button type="submit" class="btn btn-primary px-4 py-2">Create Tag</button>
                    <a asp-controller="Tag" asp-action="Index" asp-route-notebookId="@notebookId" asp-route-parentFolderId="@parentFolderId" asp-route-folderId="@folderId" asp-route-noteId="@noteId" class="btn btn-outline-warning px-4 py-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>