@model IEnumerable<NotebookInfoViewModel>

@{
    ViewData["Title"] = "All Notebooks";
}

<div class="text-center mb-4 mt-2">
    <h2>@ViewData["Title"]</h2>
</div>

<hr class="border-bottom" />

<div class="container col-8 d-flex justify-content-start flex-wrap mt-4">
    @foreach (var notebook in Model)
    {
        <div class="notebook-item text-center mx-3 my-3">
            <a asp-controller="Folder" asp-action="Index" asp-route-notebookId="@notebook.Id">
                <img src="/images/notebook.png" alt="Notebook" />
            </a>
            <div class="mt-2 mb-4 font-weight-bold">@notebook.Title</div>
            <div class="d-flex flex-column align-items-center">
                <a asp-controller="Folder" asp-action="AddSubfolder" asp-route-notebookId="@notebook.Id" class="btn btn-outline-primary mb-2">Add Folder</a>
                @* <a asp-controller="Note" asp-action="Create" asp-route-notebookId="@notebook.Id" class="btn btn-outline-primary mb-2">Add Note</a> *@
                <a asp-controller="Notebook" asp-action="Details" asp-route-notebookId="@notebook.Id" class="btn btn-outline-info mb-2">Details</a>
                <a asp-controller="Notebook" asp-action="Edit" asp-route-notebookId="@notebook.Id" class="btn btn-outline-warning mb-2">Edit</a>
                <a asp-controller="Notebook" asp-action="Remove" asp-route-notebookId="@notebook.Id" class="btn btn-outline-danger">Remove</a>
            </div>
        </div>
    }
</div>

<div class="d-flex justify-content-center">
    <a asp-controller="Notebook" asp-action="Create" class="btn btn-primary">Add New Notebook</a>
</div>
<div class="d-flex justify-content-center m-2">
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary mb-2">Previous Page</a>
</div>