@model IEnumerable<NotebookInfoViewModel>

@{
    ViewData["Title"] = "All Notebooks";
}

<div class="text-center mb-4 mt-2">
    <h2>@ViewData["Title"]</h2>
</div>

<hr class="border-bottom" />

<div class="container col-8 d-flex justify-content-start flex-wrap mt-4">
    @foreach (var notebook in Model)
    {
        <div class="notebook-item d-flex justify-content-center">
            <table>
                <thead>
                    <tr class="d-flex flex-column mb-5">
                        <td>
                            <a asp-controller="Folder" asp-action="Index" asp-route-notebookId="@notebook.Id"><img src="/images/notebook.png" /></a>
                        </td>
                        <td class="mb-2">@notebook.Title</td>

                        <td>
                            <a asp-controller="Folder" asp-action="Create" asp-route-notebookId="@notebook.Id" class="btn btn-outline-primary">
                                Add Folder
                            </a>
                        </td>

                        <td>
                            <a asp-action="Remove" asp-route-id="@notebook.Id" class="btn btn-outline-danger">Remove</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    }
</div>

<div class="d-flex justify-content-center">
    <a asp-action="Create" class="btn btn-primary">Add New Notebook</a>
</div>